

.user-landing-page{
    min-height: 100vh;
    width: 80%; 
    background-color: white;
      margin: 0 10%;
}

.user-landing-title{
    padding: 40px 0; 
}

.popular-films{
    text-align: left;
    /* margin-bottom: 70px; */
    
    
}

.popular-films-container{
display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding: 20px; 
}

.poster-card{
    border: 1px solid; 
    border-radius: 5px;
    height: 200px;
    width: calc(20% - 30px); 
    justify-content: space-between;
}

.review-card{

       border: 1px solid; 
    border-radius: 5px;
    height: 200px;
    width: calc(50% - 10px); 
    justify-content: space-between;

}

.popular-films h5{
    margin: 20px; 
    
}

.discussion-card{
    
}