

.image-block{
    margin-top: 5em;
    max-width: 70vw;
    /* margin-bottom: 5em; */
  
}

.image-head{
  display: flex;
  flex-direction: row;
  text-align: left;

}

#image-title{

  text-align: left;
  margin-right: 50vw;
  margin-left: 18px;

}

#image-handle{
  text-align: right;
  cursor: pointer;
}

#image-handle:hover{
color:gray;
}

.image {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}

.image img{
  
  
  flex-shrink: 0;
  width: auto;
  height: 200px;
  margin-right: 1em; 
}