


.profile-nav{
    width: 100%; 
   box-sizing: border-box;
}

/* .profile-nav-label{


} */



    .profile-nav-label.active{
        border-bottom: 4px solid #00BFFF;
    }

    .profile-nav-label:hover{
        cursor: pointer;
    }