

.settings-avatar{
    border: 1px solid black; 
    padding: 20px;
    text-align: left;
}

#settings-avatar-user{
    height: 120px;
    padding: 30px;
    border-radius: 70%;
    transition: 0.2s;
    color: white;
    background-color: grey;
    position: relative; 

}


.settings-avatar-container{
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
        background-image: url("https://as1.ftcdn.net/v2/jpg/01/99/11/80/1000_F_199118049_QJ8e3sYdcuXJfODcA5YjJqKOyypKAKuR.jpg");
        position: relative; 

    }

    .settings-avatar-container:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }






.settings-avatar-icon::before {
    content: "Drag and Drop Images";
    position: absolute;
    top: 40%; /* Position it below the element */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    padding: 5px;
    /* background-color: gainsboro; */
    color: black;
    /* opacity: 0.7; */
    display: none; /* Initially hidden */
    z-index: 100; 
}


.settings-avatar-icon:hover::before {
    display: block; /* Show on hover */
    cursor: pointer;
}






#settings-avatar-user:hover{

     cursor: pointer;
     color: gray;
     background-color: gainsboro;
     opacity: 0.7;
     
}




.settings-avatar-icon{
    text-align: center;
    /* padding: 50px;  */
    margin-top: 50px; 
}

