

.settings-profile{
    border: 1px solid black;
    padding: 20px;
    display: flex; 
}

.settings-profile-container{
    width: 50%; 
     border: 1px solid black;
     margin-left: 10px;
}

.settings-profile-container:nth-child(1){
    text-align: left;
}

.settings-profile-container:nth-child(1) input{
    width: 90%;
}


.settings-label{
    position: relative;
    margin-bottom: 10px;
}

.settings-label p{
    position: absolute; 
    top: 0; 
    right: 1px;
    margin-right: 40px;
}



.settings-profile h4{
    text-align: left;
     
}
