

.settings-profile{
    border: 1px solid black;
    padding: 20px;
    display: flex; 
    z-index: 1; 
}

.add-poster{
    z-index:10; 
    position: fixed; 
     display: flex;
    justify-content: center;
    align-items: center;
       top:0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    background-color: rgba(0, 0, 0, 0.9);
}

.add-poster-container{
    background-color: gray;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid white;
    position: relative; 
    width: 30vw;
    text-align: left;
    color: white;
    font-weight: 200;
}

.add-poster-container p{
    position: absolute; 
    right: 15px;
    top: 12px;
    font-size:x-large;
  
}




.add-poster-container p:hover{
    cursor: pointer;
}

.add-poster-container h5{
    font-weight: 200;
}

#add-poster-input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
}


.settings-profile-container{
    /* width: 50%;  */
     border: 1px solid black;
     margin-left: 10px;
}

.settings-profile-container:nth-child(1){
    text-align: left;
    width: 40%;
}

.settings-profile-container:nth-child(1) input{
    width: 90%;
    height: 35px;
}

.settings-profile-container:nth-child(1) textarea{
    width: 90%;

}

.settings-profile-container:nth-child(2) {
    width: 57%;
    box-sizing: border-box;

}
.settings-poster-head{
    position: relative; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;

}

.settings-poster-head p{
    font-size: smaller;
}

.settings-poster{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    position: relative;
    
}




.settings-poster-add:hover{
      border: 1px solid  darkgray;
      color: darkgray;
       box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
       cursor: pointer;
}

.settings-poster-card{
   width: calc(25% - 10px);
   border:  1px solid darkgrey;
   height: 170px;
   border-radius: 5px;
   display: block;
   position:relative;
   
}

.settings-poster-add{

    position: absolute; 
    border: 1px solid  black;
    padding: 4px;
    border-radius: 50%;
    width: 35px;
    left: 40px;
    top: 70px;
    
}

.settings-label{
    position: relative;
    margin-bottom: 10px;
}

.settings-label p{
    position: absolute; 
    top: 0; 
    right: 1px;
    margin-right: 40px;
}



.settings-profile h4{
    text-align: left;
     
}
