

.streams{
    margin-top: 1.7em;
    padding: 0; 
    /* border: 1px solid; */
    width: 80%;
    margin-left: 2.3em;
    /* background-color: #32323f; */
    background-image: linear-gradient(to bottom, rgb(53, 56, 91), rgba(0,0,0,0));

    border-radius: 5px;
}
.stream-head{
    display: flex;
    flex-direction: row;
    /* border: 1px solid orangered; */
    width: 100%;
    /* background-color:  rgb(6, 6, 73); */
    color: white;

}

#stream-head-tag{
   margin-right: 2em;
   margin-top: 0.3em;
   margin-left: 1em;
 
}

.stream-icon img{
    cursor: pointer;
    height: 50px;
}
