
.add-comment {
  border: 1px solid;
  border-radius: 9999px; /* Use a large value for a pill shape */
  width: 200px;
  padding: 0.5em;
margin-bottom: 4em;
}

.add-comment:hover {
  cursor: pointer;
  /* border: 2px solid;  */
    border-width: 1.4px;
}


