


.comment{
    border: 1px solid;
    padding: 1em;
}
.comment-user-profile img{
    height: 35px;
    border-radius: 50%;
    float: left;
    
}

.comment-user-profile{
    display: flex;
    font-size: 13px;
}

.comment-heading{
    margin-left: 1em; 
    margin-top: 0.5em;
}

#comment-username:hover{
   text-decoration: underline;
   cursor: pointer;
}

.comment-content{
    text-align: left;
    margin-left: 3.2em; 
    margin-bottom: 1em;
}

.comment-icons{
    margin-left: 3.2em;
   display: flex;
}


.icon{
    cursor: pointer;
}

.comment-icons-thumbs:hover{
    background-color: gainsboro;
    border-radius: 999px;
}

.comment-icon-reply{
    margin-left: 2em;
    display: flex;
   top: 1em;
    padding: 0.2em;
 
}

.comment-icon-reply:hover{
    background-color: gainsboro;
    cursor: pointer;
    border-radius: 999px;
}

/* .comment-reply{
     padding-bottom: 2em; 
     margin:  2em 0;
    border: 1px solid black; 
    width: 90%;
    margin-left: 2.2em;
    border-radius: 5px;

} */

.comment-reply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.2em; 
  margin: 2em auto;
  border: 1px solid black;
  width: 90%;
  border-radius: 5px;
}


.comment-reply-buttons{
   width: 100%; 
   /* border: 1px solid black; */

}

#comment-reply-enter{
   float: right; 
   margin-right: 1em;
   padding: 0 0.5em; 
   padding-bottom: 0.2em;
   margin-top:0.3em;
   font-size: 14px;
   border-radius: 999px; 
   border: 1px solid grey; 
   background: grey;
   cursor: pointer; 
   color: white; 

}


#discussion-comment:focus{
    border: none;
    outline: none;
     box-shadow: none;
}


#bold-icon{
    float: left; 
    padding: 0.5em;
    margin-left: 2em;
}

#bold-icon:hover{
    background-color: gainsboro;
    cursor: pointer;
}





#comment-reply-enter:hover{
  background-color: gainsboro;
}

#comment-reply-cancel{
    float: right; 
    border: none; 
    margin-right: 1em;
    margin-top: 0.5em;
    padding:0  0.4em; 
    color:rgb(46, 136, 233);
    font-size: 14px;
    
}

#comment-reply-cancel:hover{
    text-decoration: underline;
    background-color: rgb(200, 223, 247);
    border-radius: 999px;
    cursor: pointer;

}

#child-length{

    float: left;
    font-size: 13px;
    padding: 0.2em;
    border-radius: 999px;
}
#child-length:hover{
       background-color: gainsboro;
        text-decoration: underline;
         cursor: pointer;
            
    color:rgb(46, 136, 233);

}
.child-c{
margin-bottom: 2em;
}




.comment-with-connector {
  position: relative;
}

.comment-connector {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 3px;
  height: calc(100% - 50%);
  background-color: #ccc; /* Change color as needed */
  transform: translateY(-50%);
}

.child-comments {
  margin-left: 30px; /* Adjust the indentation as needed */
}
