.film-discussions{  

    display: flex; 
    min-height: 100vh; 
}


.film-diss-flex-one{
    flex:1; 
   background-color:  #0047AB;
     position: sticky; 
     top: 0; 
}

.film-diss-flex-two{
    width: 70%; 
    background-color: lightgray;
}




.film-diss-card{
    margin: 2em;
}