

.user-film-section{
    margin: 20px 0; 
    border: 1px solid;
    text-align: left;
}

.user-film-container{
    min-height: 200px; 
    border: 1px solid; 
    display: flex; 
    flex-wrap: wrap;
}


.no-user-film-container::before{
    content:"NO FILMS YET"; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);

}


.no-user-film-container{
     min-height: 200px; 
     position: relative;
}



.watched-film img{
    max-height: 100px; 
max-width: 50px;
margin-left: 10px; 
margin-bottom: 10px;
border-radius: 1px solid black;


}