



.user-reviews-section{
    margin: 20px 0; 
    border: 1px solid;
    text-align: left;
}

.user-reviews-container{
    min-height: 200px; 
    border: 1px solid; 
    position: relative; 
}


.user-reviews-container::before{
    content:"NO REVIEWS YET"; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);

}