




.section_padding{
    padding: 1rem 4rem;
}

.footer{
    background-color: #2c2c2e;
    color: white;
    bottom: 0; 
    position:relative;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.fc_footer{
    display: flex; 
    flex-direction: column;
}

.fc_footer-links{
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;

}

.img{
    color:white;
    
}


.fc_footer-links_div{
    width: 150px; 
    margin: 1rem; 
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column; 
    color: white;
}

a{
    color: rgb(175, 175, 179); 
    text-decoration: none;
}

.social-media{
    color: white;
    display: flex;
    flex-direction: row;
}

.img{
    color: white;
}

.social-media img{
    width: 50px; 
    color: white;
}

.fc_footer-links_div h4{
    font-size: 14px; 
    line-height: 17px; 
    margin-bottom: 0.9rem;
}

.fc_footer-links_div p{
    font-size: 12px; 
    line-height: 15px; 
    margin: 0.5rem 0; 
    cursor: pointer; 
}
.fb{
    color: white;
}

.fc_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.fc_footer-below-links{
    display: flex; 
    /* flex-direction: column; */
    flex-direction: row; 
    /* text-align: right; */
} 

 .fc_footer-below-links {
    /* font-size: 13px; */
    line-height: 15px;
    margin-left: 35rem; 
    color: white; 
    font-weight: 600;
} 

hr{
    color: white !important; 
    width: 100%; 
}

.fc_footer-copyright p{
    font-size: 13px; 
    line-height: 15px; 
    color: rgb(255,255,255);
    font-weight: 600;
}

@media screen and (max-width: 850px){

    .fc_footer-heading h1{
        font-size: 44px; 
        line-height: 50px; 
    }
}

@media screen and (max-width: 550px){
    .fc_footer-heading h1{
        font-size: 34px;
        line-height: 42px; 
    }

    .fc_footer-links div{
        margin: 1rem 0; 
    }

    .fc_footer-btn p{
        font-size: 14px; 
        line-height: 20px;
    }

    .fc_footer-below{
        flex-direction: column; 
        justify-content: left;
    }

    .fc_footer-below-links{
        flex-direction: column;
    }

    .fc_footer-below-links p{
        margin-left: 0rem; 
        margin-top: 1rem; 
    }
}

@media screen and (max-width: 400px){
    .sb_footer-heading h1{
        font-size: 27px; 
        line-height: 38px; 
    }
}