

.discussion-one{
    color: white;
    padding-top: 1em;
    font-size: larger;
}

.film-diss-back{
text-align: left;
padding: 0.5em;
margin-top: 1em;
background-color: white;
width: 70%;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
transition: 0.5s;
color: black;


}

.film-diss-back:hover{

  transform: scale(1.1);
  cursor: pointer;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      color: navy;
    
}


.dicussion-back{
    background-color: black;
    width: 100%;
    text-align: left;
    padding: 1em;
    margin-left: 1.5em;
    color: white;
    display: inline-flex;

}


.discussion-back img{

    height: 100px;
    margin-left: 2em;
    border: 1px gold solid;
   

}

.d-back{
     cursor: pointer; 
    width: 70%; 
    background-color: white;
    color: black;
    padding: 0.5em;
    left: 0; 
    border-end-end-radius: 2px;
    border-end-start-radius: 2px;
    transition: 0.5s;

}

.d-tags{
    text-align: left;
}

.d-back:hover{
   background-color:ghostwhite;
   color: gray;

}