.discussion-card {
  box-shadow: 0 5px 7px gainsboro;
  border-radius: 5px;
  padding: 0.5em;
  display: inline-flex;
  width: 100%;
  margin-bottom: 1em;
  background-color: white;
  border: 1px solid;
  height: 150px; 
  
}

.discussion-card-two{
  margin-left: 2.5em;
}

.discussion-card-top {
  text-align: left;
  color: gray;
  font-size: 14px;
  font-weight: 100;

}

.discussion-card-user:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(46, 136, 233);
}

.fa-circle-arrow-up {
  color: #007bff; /* Set your desired color */
  font-size: 20px; /* Set your desired font size */
  cursor: pointer;
}

.fa-circle-arrow-up:hover,
.fa-circle-arrow-down:hover {
  color: navy;
}

.fa-circle-arrow-down {
  color: #007bff; /* Set your desired color */
  font-size: 20px; /* Set your desired font size */
  cursor: pointer;
}

.fa-circle-arrow-up.smaller {
  color: navy;
}

.fa-circle-arrow-down.bigger {
  color: navy;
}



.discussion-card-likes {
  margin-left: 0.5em;
  margin-top: 1em;
  text-align: center;
}

.discussion-card-title {
  text-align: left;
  margin-top: 0.5em;

}

.discussion-card-title:hover {
  color: gray;
  cursor: pointer;
}

.discussion-icons {
  margin-top: 1em;
}
