
.create-review{
    min-height: 100vh;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}

textarea{
      height: 30px;
    width:  70%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    resize: none;
    outline: none;
}
textarea:focus{
    border-bottom: 2px solid #333;

}

textarea:focus::placeholder {
  color: transparent;
}

.create-review-form{
    margin: 1em;
}

.create-review-poster img{
    height: 400px;
    padding: 2em;
    
}


.create-review-poster{
    float: left; 
}

.create-review-heading{
    text-align: left;
    padding-top: 2em;
}

.create-review-rating{
    background-color: none;
    margin-left: 24%;
}

.create-review-submit{
    display: inline-flex;
    bottom: 0%; 
    position: relative;
    background-color: rgba(127, 255, 212, 0.5); /* Aqua color with 50% opacity */
position: sticky;
    width: 100%;
    padding: 0.5em;
    justify-content: flex-end;
}

.create-review-submit-cancel{
    cursor: pointer;
    color: blue;
    margin: 0.5em;
    margin-top: 0.9em;
    right: 500px;

}


.create-review-submit-submit{
    margin: 0.5em;
    text-align: right;

}

.create-review-submit-cancel:hover{
    color: gray;
}

