

.images{
    
}

.image-content{
    min-height: 100vh;
}

.image-section{
    display: flex; 

}

.image-flex-one{
    flex: 1; 
    width: 25%; 
    border: 1px solid;
}

.image-flex-two{
    width: 75%;
    margin-top: 2em; 
    margin-left: 1em;
    display: grid; 
   grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */

}


.image-each {
  margin: 1.2em;
}



.image-each img {
  width: 100%;
  margin-bottom: 1em;
  border: 10px solid gray;
  border-radius: 5px;
  transition: 0.1s;
}

.image-each img:hover{

    border: 10px solid gold; 
    cursor: pointer;
}
